.*
/license-tools-demo/cfg/grgbanking.lic
/license-tools-demo/cfg/grgbanking.ppk
/license-tools-demo/cfg/grgbanking.pub
/spark-demo/metastore_db
/spark-demo/output
/sqlite-demo/db
/Servers
/spring-boot-web-mybatis-mariadb4j-demo/mariadb_data/*
/spring-boot-web-tkmybatis-geoip-demo/extres/geoip/GeoLite2-City.mmdb
