.*
/license-tools/cfg/grgbanking.lic
/license-tools/cfg/grgbanking.ppk
/license-tools/cfg/grgbanking.pub
/spark/metastore_db
/spark/output
/sqlite/db
/Servers
/spring-boot-web-mybatis-mariadb4j-demo/mariadb_data
