<?xml version="1.0" encoding="UTF-8"?>
<!--
       classpath: logback.groovy
    -> classpath: logback-test.xml
    -> classpath: logback.xml
    -> ServiceLoader: any implementation of com.qos.logback.classic.spi.Configurator
    -> Logback's own BasicConfigurator
-->
<configuration>

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %logger{36}.%M:%L | %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- file all -->
    <appender name="file-all"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ALL</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/all.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %logger.%M:%L | %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- file ERROR -->
    <appender name="file-error"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY </onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %logger.%M:%L | %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- common loggers -->
    <logger name="org.hibernate">
        <level value="WARN" />
    </logger>
    <logger name="org.springframework">
        <level value="WARN" />
    </logger>
    <logger name="org.apache">
        <level value="WARN" />
    </logger>
    <logger name="net.sf.ehcache">
        <level value="WARN" />
    </logger>
    
    <!-- special loggers -->
    <logger name="com.at">
        <level value="DEBUG" />
    </logger>
    
    <!-- root logger -->
    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="file-all" />
        <appender-ref ref="file-error" />
    </root>

</configuration>
